.sidebar {
    background-color: #0d6efd;
}
.sidebar .nav-link {
    color: #fff;
}
.sidebar .nav-link.active {
    background-color: #0b5ed7;
}
.sidebar-width {
    width: 21%;
}
nav .top-background-color {
    background-color: #0b5ed7;
}